.category {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.category-item {
  flex: 1;
  width: 20%;
  min-width: 20%;
  max-width: 20%;
}

.category-item img {
  width: 100%;
  vertical-align: middle;
}
